@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #213A24;
  --background: #F5F1D9; /* or #FFFFFF based on preference, let's use white as default background and cream for sections */
}

body {
  color: var(--foreground);
  background-color: #FFFFFF;
  font-family: var(--font-sans), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
